* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    padding: 16px;
    background-color: #f4f4f4;
}

.container {
    /* max-width: 600px; */
    margin: auto;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.app-title {
    text-align: center;
    font-size: 24px;
    color: #333;
}

.app-sub {
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 24px;
    font-size: 14px;
    color: #333;
}

.div-1 {
    margin-bottom: 16px;
    z-index: 0;
}

textarea.inp {
    width: 100%;
    height: 150px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical;
}

/* .div-2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
} */

.subdiv-1, .subdiv-2 {
    display: flex;
    /* justify-content: space-between; */
}

.subdiv-2{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subdiv-1 div, .subdiv-2 div {
    flex: 1;
    /* padding: 8px; */
}

p {
    margin: 0;
    font-size: 18px;
    color: #333;

}

.copy-icon img {
	width: 30px;
	cursor: pointer;
}

#input_form{
    position: relative;

}

.copy{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 6px;
    top: -18px;
    z-index: 1;
}

#trash{
    position: absolute;
    width: 16px;
    height: 16px;
    right: 6px;
    top: -18px;
    z-index: 1;
}

#trash:hover{
    top: -25px;
}

.copy-text{
    display: none;
}

svg:hover{
    top: -25px;
}

.bi {
    cursor: pointer;
    transition: fill 0.3s;
}

.bi:active{
    fill: #ff0000;
}

@media (max-width: 600px) {
    .container {
        padding: 12px;
    }

    .div-1 {
        padding: 12px;
    }

    textarea.inp {
        height: 200px;
        font-size: 14px;
    }

    .subdiv-1, .subdiv-2 {
        flex-direction: column;
        gap: 8px;
    }

    p {
        font-size: 12px;
    }
}

