<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Counter</title>
    <style>
        * {
            margin: auto;
            padding: 0;
        }

        textarea, label{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #user_input{
            width: 600px;
            height: 500px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div>
        <div class="div1">
            <form id="input_form" action="/" method="POST">
                <label for="user_input">Type or paste your text below 👇</label>
                <textarea name="user_input" id="user_input"></textarea>
            </form>
        </div>
        <div class="div-2">
            <p>Words: <span id="word_count">0</span></p>
            <p>Characters: <span id="char_count">0</span></p>
        </div>
        <div-2>
            <p>Sentences: <span id="sen_count">0</span></p>
            <p>Paragraphs: <span id="par_count">0</span></p>
        </div-2>
    </div>
    <script>
        const user_inp = document.getElementById("user_input");
        const form_input = document.getElementById("input_form");
        const word = document.getElementById("word_count");
        const character = document.getElementById("char_count")
        const sentence = document.getElementById("sen_count");
        const paragraph = document.getElementById("par_count");
        
        user_inp.addEventListener("input", calculate)
        
        function calculate(e){
        word_count = e.target.value.split(' ').length;
            word.textContent = word_count;

        char_count = e.target.value.split('').length;
            character.textContent = char_count;

        sen_count = e.target.value.split('.').length;
            sentence.textContent = sen_count;

        par_count = e.target.value.split(/\n\s*\n/).filter(Boolean).length;
            paragraph.textContent = par_count;
        };


    </script>
</body>
</html>