<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Counter</title>
    <style>
        * {
            margin: auto;
            padding: 0;
        }

        textarea, label{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #user_input{
            width: 600px;
            height: 500px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div>
        <div class="div1">
            <form id="input_form" action="/" method="POST">
                <label for="user_input">Type or paste your text below 👇</label>
                <textarea name="user_input" id="user_input"></textarea>
            </form>
        </div>
        <div class="div-2">
            <p>Words: </p>
        </div>
    </div>
    <script>
        const user_inp = document.getElementById("user_input");
        const form_input = document.getElementById("input_form");
        
        user_inp.addEventListener("input", function() {
        form_input.submit();
        });
    </script>
</body>
</html>